<div class="nav-container">
    <a class="waves-effect waves-light btn-flat btn-custom"><i class="inline-icon material-icons">arrow_back</i>
        Back to Breeds</a>
    <a class="waves-effect waves-light btn purple">Start Over</a>
</div>

<div class="container">
    <h3 class="page-header">Check out these adoptable dogs!</h3>


    {{!-- Row --}}
    <div class="row">

        {{!-- Card --}}
        <div class="col s6 m3">
            <div class="card hoverable">
                <a href="http://www.google.com" target="_blank">
                    <div class="content-overlay"></div>
                </a>
                <div class="card-image"></div>
                <div class="curve"></div>
                <div class="card-content">
                    <h5 class='card-header purple-text'><strong>Spot</strong></h5>
                    <p class="card-text">Adult &middot; Border Collie</p>
                    <p class="card-text">3 miles away</p>
                </div>
                <a href="https://www.google.com/" target="_blank">
                    <div class="content-details fadeIn-bottom">
                        <a class="btn-floating btn-large purple card-button-custom waves-effect waves-light hoverable"
                            href="https://www.google.com/" target="_blank">
                            <i class="material-icons">send</i>
                        </a>
                        {{!-- <img src="https://d17fnq9dkz9hgj.cloudfront.net/breed-uploads/2018/09/dog-landing-hero-sm.jpg?bust=1536935086"
                            alt="" class="overlay-img"> --}}
                        <div class="overlay-img-container">
                            <div class="overlay-img"></div>
                        </div>
                        <h4 class="purple-text">Spot</h4>
                        <p class="card-text">Adult &middot; Border Collie</p>
                        <p class="card-text">3 miles away</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>