  <nav>
    <div class="nav-wrapper amber darken-2">
      <a class="brand-logo">Profile</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/auth/logout">Logout</a></li>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
 