.breedRow {
  min-width: 760px;
}
#headerImage{
  width:70%;
}

#headertext{
  font-size: 3rem;
}
.imageHolder {
  width: 100%;
}
.imageCropper {
  width: 18rem;
  height: 18rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin:2rem;
  margin-right: auto;
  margin-left: auto;
}
.dogImage {
display: inline;
margin: 0 auto;
margin-left: -25%; /*centers the image*/
height: 100%;
width: auto;
}

.stars{
  width: 10rem;
  margin-left: 2%;
}

.capitalize{
  text-transform: capitalize;
}

.attribute {
  display: inline-block;
  width: 10rem;
}

.breedRow {
  border: 1px solid #FFD38B;
  border-radius: 10px;
}

.breedNameRow {
  margin-top: 20px;
  margin-bottom: 15px;
}
.breedName {
  color: #39579d;
  font-family: 'Indie Flower', cursive;
}
.attribute {
  color: #010449;
  font-family: 'Maven Pro', sans-serif;
  font-size: 15px;
}
.findButton:hover,
.findButton:active,
.findButton:visited,
.findButton:link,
.findButton:focus,
.findButton {
  background-color: #ff6120;
  margin-bottom: 10px;
}
.breedRow {
  position: relative;
}
.buttonRow {
  position: absolute;
  bottom: 0px;
}


/*XLarge: Desktop Devices > 992px */
@media only screen and (max-width: 1200px) {
  .imageCropper {
    width: 16rem;
    height: 16rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin:2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .imageCropper {
    width: 16rem;
    height: 16rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin:2rem;
  }
}
/*Large: Desktop Devices > 992px */
@media only screen and (max-width: 992px) {
  .imageCropper {
    width: 18rem;
    height: 18rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin:2rem;
  }
}
@media only screen and (max-width: 740px) {
  .imageCropper {
    width: 18rem;
    height: 18rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin:2rem;
  }
}
/*Medium: Desktop Devices > 600px */
@media only screen and (max-width: 600px) {
  .breedRow {
    min-width: 250px;
  }
  .breedNameRow,
  .buttonRow,
  .attributeRow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .breedRow {
    position: relative;
  }
  .buttonRow {
    position: relative;
  }  
}
@media only screen and (max-width: 390px) {
  .imageCropper {
    width: 16rem;
    height: 16rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin:2rem;
  }
}
